In [2]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("census.csv")

# Success - Display the first record
display(data.head(n=1))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K

In [3]:
data.shape[0]

45222

In [4]:
data['income']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
7         >50K
8         >50K
9         >50K
10        >50K
11        >50K
12       <=50K
13       <=50K
14       <=50K
15       <=50K
16       <=50K
17       <=50K
18        >50K
19        >50K
20       <=50K
21       <=50K
22       <=50K
23       <=50K
24        >50K
25       <=50K
26       <=50K
27       <=50K
28       <=50K
29       <=50K
         ...
45192    <=50K
45193    <=50K
45194     >50K
45195     >50K
45196    <=50K
45197     >50K
45198     >50K
45199    <=50K
45200    <=50K
45201    <=50K
45202    <=50K
45203    <=50K
45204     >50K
45205    <=50K
45206    <=50K
45207    <=50K
45208    <=50K
45209    <=50K
45210    <=50K
45211    <=50K
45212    <=50K
45213    <=50K
45214    <=50K
45215    <=50K
45216    <=50K
45217    <=50K
45218    <=50K
45219    <=50K
45220    <=50K
45221     >50K
Name: income, Length: 45222, dtype: object

In [5]:
np.sum(data['income'] == '>50K')

11208

In [6]:
np.sum(data['income'] == '<=50K')

34014

In [7]:
data

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23,Private,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32,Private,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
14,34,Private,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K
16,32,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K
17,38,Private,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K
19,40,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
20,54,Private,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0.0,0.0,20.0,United-States,<=50K
21,35,Federal-gov,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
22,43,Private,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,2042.0,40.0,United-States,<=50K
23,59,Private,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
24,56,Local-gov,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
25,19,Private,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
26,39,Private,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,<=50K
27,49,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,52.0,United-States,<=50K
29,20,Private,Some-college,10.0,Never-married,Sales,Own-child,Black,Male,0.0,0.0,44.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,25,Private,HS-grad,9.0,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0.0,0.0,40.0,United-States,<=50K
45193,31,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45194,49,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,Canada,>50K
45195,60,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
45196,39,Private,Bachelors,13.0,Never-married,Tech-support,Not-in-family,White,Female,0.0,1669.0,40.0,United-States,<=50K
45197,38,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45198,43,Local-gov,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45199,23,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45200,73,Self-emp-inc,Some-college,10.0,Divorced,Exec-managerial,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K
45201,35,Private,Some-college,10.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45202,66,Private,HS-grad,9.0,Widowed,Sales,Other-relative,White,Female,0.0,0.0,8.0,United-States,<=50K
45203,27,Private,Some-college,10.0,Never-married,Sales,Not-in-family,White,Female,0.0,0.0,45.0,United-States,<=50K
45204,40,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K
45205,51,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45206,22,Private,Some-college,10.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45207,64,Self-emp-not-inc,HS-grad,9.0,Widowed,Farming-fishing,Not-in-family,White,Male,0.0,0.0,32.0,United-States,<=50K
45208,55,Private,HS-grad,9.0,Separated,Priv-house-serv,Not-in-family,White,Female,0.0,0.0,32.0,United-States,<=50K
45209,38,Private,Assoc-voc,11.0,Never-married,Adm-clerical,Unmarried,Black,Female,0.0,0.0,40.0,United-States,<=50K
45210,58,Private,Assoc-acdm,12.0,Divorced,Prof-specialty,Not-in-family,White,Male,0.0,0.0,36.0,United-States,<=50K
45211,32,Private,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45212,48,Private,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45213,61,Private,HS-grad,9.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,<=50K
45214,31,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
45215,25,Private,HS-grad,9.0,Never-married,Other-service,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K
45216,48,Local-gov,Masters,14.0,Divorced,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
45217,33,Private,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
45218,39,Private,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K
45219,38,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
45220,44,Private,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K
45221,35,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [8]:
data['age'].max()

90

In [9]:
data['age'].min()

17

In [10]:
(39-17)/(90-17)

0.3013698630136986

In [11]:
data['income'] == '>50K'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9         True
10        True
11        True
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
45192    False
45193    False
45194     True
45195     True
45196    False
45197     True
45198     True
45199    False
45200    False
45201    False
45202    False
45203    False
45204     True
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
45211    False
45212    False
45213    False
45214    False
45215    False
45216    False
45217    False
45218    False
45219    False
45220    False
45221     True
Name: income, Length: 45222, dtype: bool

In [12]:
income_raw = data['income']
features_raw = data.drop('income', axis = 1)

In [13]:
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

In [14]:
# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

# Show an example of a record with scaling applied
display(features_log_minmax_transform.head(n = 5))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.301370,State-gov,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.667492,0.0,0.397959,United-States
1,0.452055,Self-emp-not-inc,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States
2,0.287671,Private,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States
3,0.493151,Private,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States
4,0.150685,Private,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba

In [15]:
pd.get_dummies(features_log_minmax_transform)

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.301370,0.800000,0.667492,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0.800000,0.000000,0.000000,0.122449,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0.400000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0.273973,0.866667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6,0.438356,0.266667,0.000000,0.000000,0.153061,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0.479452,0.533333,0.000000,0.000000,0.448980,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,0.191781,0.866667,0.829751,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.342466,0.800000,0.742849,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10,0.273973,0.600000,0.000000,0.000000,0.806122,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.178082,0.800000,0.000000,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0.082192,0.800000,0.000000,0.000000,0.295918,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
13,0.205479,0.733333,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14,0.232877,0.200000,0.000000,0.000000,0.448980,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0.109589,0.533333,0.000000,0.000000,0.346939,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16,0.205479,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0.287671,0.400000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
18,0.356164,0.866667,0.000000,0.000000,0.448980,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
19,0.315068,1.000000,0.000000,0.000000,0.602041,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20,0.506849,0.533333,0.000000,0.000000,0.193878,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21,0.246575,0.266667,0.000000,0.000000,0.397959,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,0.356164,0.400000,0.000000,0.909617,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,0.575342,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
24,0.534247,0.800000,0.000000,0.000000,0.397959,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,0.027397,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
26,0.301370,0.533333,0.000000,0.000000,0.806122,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
27,0.438356,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
28,0.082192,0.733333,0.000000,0.000000,0.520408,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,0.041096,0.600000,0.000000,0.000000,0.438776,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,0.109589,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45193,0.191781,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45194,0.438356,0.533333,0.000000,0.000000,0.397959,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45195,0.589041,0.666667,0.777174,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45196,0.301370,0.800000,0.000000,0.885559,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45197,0.287671,0.866667,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45198,0.356164,0.866667,0.000000,0.901146,0.500000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45199,0.082192,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45200,0.767123,0.600000,0.000000,0.000000,0.397959,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
45201,0.246575,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45202,0.671233,0.533333,0.000000,0.000000,0.071429,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45203,0.136986,0.600000,0.000000,0.000000,0.448980,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45204,0.315068,0.933333,0.835363,0.000000,0.551020,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45205,0.465753,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45206,0.068493,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45207,0.643836,0.533333,0.000000,0.000000,0.316327,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45208,0.520548,0.533333,0.000000,0.000000,0.316327,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45209,0.287671,0.666667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45210,0.561644,0.733333,0.000000,0.000000,0.357143,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45211,0.205479,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45212,0.424658,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45213,0.602740,0.533333,0.000000,0.000000,0.479592,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45214,0.191781,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45215,0.109589,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45216,0.424658,0.866667,0.000000,0.000000,0.397959,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45217,0.219178,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45218,0.301370,0.800000,0.000000,0.000000,0.357143,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45219,0.287671,0.800000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45220,0.369863,0.800000,0.747375,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
45221,0.246575,0.800000,0.000000,0.000000,0.602041,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
income_raw == '<=50K'

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7        False
8        False
9        False
10       False
11       False
12        True
13        True
14        True
15        True
16        True
17        True
18       False
19       False
20        True
21        True
22        True
23        True
24       False
25        True
26        True
27        True
28        True
29        True
         ...
45192     True
45193     True
45194    False
45195    False
45196     True
45197    False
45198    False
45199     True
45200     True
45201     True
45202     True
45203     True
45204    False
45205     True
45206     True
45207     True
45208     True
45209     True
45210     True
45211     True
45212     True
45213     True
45214     True
45215     True
45216     True
45217     True
45218     True
45219     True
45220     True
45221    False
Name: income, Length: 45222, dtype: bool

In [17]:
income_raw == '>50K'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9         True
10        True
11        True
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
45192    False
45193    False
45194     True
45195     True
45196    False
45197     True
45198     True
45199    False
45200    False
45201    False
45202    False
45203    False
45204     True
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
45211    False
45212    False
45213    False
45214    False
45215    False
45216    False
45217    False
45218    False
45219    False
45220    False
45221     True
Name: income, Length: 45222, dtype: bool

In [18]:
(income_raw == '>50K').astype(int)

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        1
9        1
10       1
11       1
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       1
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
45192    0
45193    0
45194    1
45195    1
45196    0
45197    1
45198    1
45199    0
45200    0
45201    0
45202    0
45203    0
45204    1
45205    0
45206    0
45207    0
45208    0
45209    0
45210    0
45211    0
45212    0
45213    0
45214    0
45215    0
45216    0
45217    0
45218    0
45219    0
45220    0
45221    1
Name: income, Length: 45222, dtype: int64

In [19]:
# TODO: One-hot encode the 'features_log_minmax_transform' data using pandas.get_dummies()
features_final = pd.get_dummies(features_log_minmax_transform)

# TODO: Encode the 'income_raw' data to numerical values
income = (income_raw == '>50K').astype(int)

# Print the number of features after one-hot encoding
encoded = list(features_final.columns)

In [20]:
np.square(0.5)

0.25

In [21]:
# Import train_test_split
from sklearn.cross_validation import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final, 
                                                    income, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 36177 samples.
Testing set has 9045 samples.

In [33]:
X_train[:300].shape

(300, 103)

In [26]:
y_train[:300].shape

(300,)

In [54]:
# TODO: Import two metrics from sklearn - fbeta_score and accuracy_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import accuracy_score

def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    sample_size = int(X_train.shape[0] * (sample_size / 100))
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size' using .fit(training_features[:], training_labels[:])
    start = time() # Get start time
    learner.fit(X_train[:sample_size], y_train[:sample_size])
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set(X_test),
    #       then get predictions on the first 300 training samples(X_train) using .predict()
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train[:300])
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end - start
            
    # TODO: Compute accuracy on the first 300 training samples which is y_train[:300]
    results['acc_train'] = accuracy_score(y_train[:300], predictions_train)
        
    # TODO: Compute accuracy on test set using accuracy_score()
    results['acc_test'] = accuracy_score(y_test, predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples using fbeta_score()
    results['f_train'] = fbeta_score(y_train[:300], predictions_train, 0.3)
        
    # TODO: Compute F-score on the test set which is y_test
    results['f_test'] = fbeta_score(y_test, predictions_test, 0.3)
       
    # Success
    print("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [37]:
from sklearn.svm import SVC
model = SVC()
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

/Users/sumitkumar1209/anaconda3/envs/udacity_projects/lib/python3.5/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [38]:
results

{1: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 0.2726168632507324,
  'train_time': 0.01938915252685547},
 10: {'acc_test': 0.83261470425649531,
  'acc_train': 0.83333333333333337,
  'f_test': 0.67125645438898451,
  'f_train': 0.67129629629629628,
  'pred_time': 1.8450260162353516,
  'train_time': 0.8176078796386719},
 100: {'acc_test': 0.83714759535655059,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67447717069966051,
  'f_train': 0.71969696969696972,
  'pred_time': 15.939661979675293,
  'train_time': 84.87750911712646}}

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

LogisticRegression trained on 36177 samples.
LogisticRegression trained on 3617 samples.
LogisticRegression trained on 361 samples.

In [36]:
results

{1: {'acc_test': 0.81868435599778888,
  'acc_train': 0.85999999999999999,
  'f_test': 0.62886019090398648,
  'f_train': 0.73863636363636354,
  'pred_time': 0.0024111270904541016,
  'train_time': 0.0017139911651611328},
 10: {'acc_test': 0.8385848535102266,
  'acc_train': 0.84666666666666668,
  'f_test': 0.67750677506775059,
  'f_train': 0.703125,
  'pred_time': 0.0025560855865478516,
  'train_time': 0.01485300064086914},
 100: {'acc_test': 0.841901603095633,
  'acc_train': 0.84666666666666668,
  'f_test': 0.68316522824165538,
  'f_train': 0.69852941176470584,
  'pred_time': 0.027358055114746094,
  'train_time': 0.2896130084991455}}

In [39]:
model = SVC(kernel='linear')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

In [40]:
results

{1: {'acc_test': 0.81426202321724706,
  'acc_train': 0.8666666666666667,
  'f_test': 0.61823244302361557,
  'f_train': 0.74999999999999989,
  'pred_time': 0.1430988311767578,
  'train_time': 0.009470939636230469},
 10: {'acc_test': 0.83825317855168602,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67698680911370335,
  'f_train': 0.72265625,
  'pred_time': 1.2532930374145508,
  'train_time': 0.723391056060791},
 100: {'acc_test': 0.83913764510779432,
  'acc_train': 0.85333333333333339,
  'f_test': 0.67801130907927021,
  'f_train': 0.71969696969696972,
  'pred_time': 12.810261964797974,
  'train_time': 87.88073801994324}}

In [41]:
model = SVC(kernel='poly')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

/Users/sumitkumar1209/anaconda3/envs/udacity_projects/lib/python3.5/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

SVC trained on 36177 samples.
SVC trained on 3617 samples.
SVC trained on 361 samples.

In [42]:
results

{1: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 0.1665949821472168,
  'train_time': 0.009569883346557617},
 10: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 1.6461448669433594,
  'train_time': 0.7047209739685059},
 100: {'acc_test': 0.75621890547263682,
  'acc_train': 0.76000000000000001,
  'f_test': 0.0,
  'f_train': 0.0,
  'pred_time': 17.161942958831787,
  'train_time': 93.33237814903259}}

In [49]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss='hinge')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

In [50]:
results

{1: {'acc_test': 0.80276395798783862,
  'acc_train': 0.84666666666666668,
  'f_test': 0.58165845867163579,
  'f_train': 0.70833333333333326,
  'pred_time': 0.0028579235076904297,
  'train_time': 0.0011210441589355469},
 10: {'acc_test': 0.8069651741293532,
  'acc_train': 0.76000000000000001,
  'f_test': 0.59813628421665699,
  'f_train': 0.47297297297297303,
  'pred_time': 0.0029458999633789062,
  'train_time': 0.0074880123138427734},
 100: {'acc_test': 0.84013266998341629,
  'acc_train': 0.85999999999999999,
  'f_test': 0.68234514739980123,
  'f_train': 0.7321428571428571,
  'pred_time': 0.006492137908935547,
  'train_time': 0.10852408409118652}}

In [45]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss='log')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

In [46]:
results

{1: {'acc_test': 0.81061359867330018,
  'acc_train': 0.86333333333333329,
  'f_test': 0.60872431600922972,
  'f_train': 0.73943661971830998,
  'pred_time': 0.0028679370880126953,
  'train_time': 0.0017399787902832031},
 10: {'acc_test': 0.79038142620232177,
  'acc_train': 0.78666666666666663,
  'f_test': 0.58428023935991391,
  'f_train': 0.57112068965517249,
  'pred_time': 0.0029020309448242188,
  'train_time': 0.011854887008666992},
 100: {'acc_test': 0.82266445550027645,
  'acc_train': 0.81333333333333335,
  'f_test': 0.63451970914657485,
  'f_train': 0.61298076923076927,
  'pred_time': 0.0059430599212646484,
  'train_time': 0.14151597023010254}}

In [51]:
model = SGDClassifier(loss='log')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)
results

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

{1: {'acc_test': 0.75323383084577111,
  'acc_train': 0.80333333333333334,
  'f_test': 0.52467207995003129,
  'f_train': 0.59734513274336287,
  'pred_time': 0.0029180049896240234,
  'train_time': 0.0015480518341064453},
 10: {'acc_test': 0.78463239358761749,
  'acc_train': 0.77666666666666662,
  'f_test': 0.46199867050742294,
  'f_train': 0.36290322580645162,
  'pred_time': 0.003058910369873047,
  'train_time': 0.008792877197265625},
 100: {'acc_test': 0.83537866224433388,
  'acc_train': 0.84666666666666668,
  'f_test': 0.66160135075091087,
  'f_train': 0.68313953488372103,
  'pred_time': 0.002959012985229492,
  'train_time': 0.11993193626403809}}

In [53]:
model = SGDClassifier(loss='hinge')
results = {}
results[100] = train_predict(model, 100, X_train, y_train, X_test, y_test)
results[10] = train_predict(model, 10, X_train, y_train, X_test, y_test)
results[1] = train_predict(model, 1, X_train, y_train, X_test, y_test)
results

SGDClassifier trained on 36177 samples.
SGDClassifier trained on 3617 samples.
SGDClassifier trained on 361 samples.

{1: {'acc_test': 0.80740740740740746,
  'acc_train': 0.84333333333333338,
  'f_test': 0.58973949176921847,
  'f_train': 0.71078431372549011,
  'pred_time': 0.0028378963470458984,
  'train_time': 0.0013921260833740234},
 10: {'acc_test': 0.81006080707573247,
  'acc_train': 0.81333333333333335,
  'f_test': 0.59816207184628234,
  'f_train': 0.59523809523809523,
  'pred_time': 0.0029730796813964844,
  'train_time': 0.006345033645629883},
 100: {'acc_test': 0.82498618021006076,
  'acc_train': 0.83666666666666667,
  'f_test': 0.6395492308957802,
  'f_train': 0.65860215053763438,
  'pred_time': 0.0030159950256347656,
  'train_time': 0.10634016990661621}}